@import url(fonts.scss);
/*=================================================*/
*{
	padding: 0;
	margin: 0;
}
h1,h2{
	font-family: "Gotham";
	font-weight: 600;
	text-transform: uppercase;
}
h3,h4{
	font-family: "Lato";
	font-weight: 600;
	text-transform: uppercase;
}
p{
	font-family: "OpenSans";
	font-weight: 400;
}
a{
	font-family: "Lato";
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
li{
	list-style: none;
}
/*==================================================*/
header{
	padding: 20px 0;
}
nav{
	margin-top: 16px;
	height:100%;
	& ul{
		justify-content: space-around;
		margin: 0;
		& a{
			text-align: center;
			display: block;
			font-size: 13px;
			color: gray;
			padding: 6px 10px;
			&:hover{
				color: white;
				background-color: #FFBB42;
			}
		 }
		}
}

.boostup{
	background:#709DCA;
	padding-bottom: 45px;
	& .title{
		margin-top: 100px;
		margin-bottom: 25px;
		text-align: center;
		color:white;
		& h1{
			margin-bottom: 0;
			font-size: 36px;
		}
		& p{
			margin-top: -5px;
			font-weight: 200;
		}
	}
	& .form{
		background-color: white;
		padding: 8px 0 10px 0;
		border-radius: 3px;
		color: gray;
		& i{
			padding: 5px 10px 3px 10px;
		}
		& input{
			border: none;
			&:focus{
				outline: none;
			}
		}
	}
	& input[type="submit"]{
		text-transform: uppercase;
		background-color: #FFBB42;
		color: white;
		font-family: "OpenSans";
		font-size: 14px;
		font-weight: 400;
		border:none;
		border-radius: 3px;
		padding: 11px 40px;
	}
}
.section-slider{
	background-color: #709DCA;
	height: 200px;
	& .carousel{
			& ol{
		position: relative;
		z-index: 2;
		top: 20px;
			& li{
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: transparent;
				border: 2px solid gray;
			}	
				}
	}
}
 ol .active{
	border: 2px solid #86BDF3 !important;
	}
.services{
	margin-top: 230px;
	margin-bottom: 40px;
	& .title-box{
		text-align: center;
		margin-bottom: 60px;
		& p{
			margin-top: -10px;
		}
	}
	& .service-box{
		display: grid;
		grid-template-colums: 1fr 1fr;
		grid-template-areas:
					"icon text";
		margin-bottom: 65px;
		& .icon{
			grid-area: "icon";
			margin-top: -15px;
			margin-right: 21px;
			font-size: 50px;
			color:#709DCA;
			&:hover{
				color: #F7803A;
			}
		}
		& h4{
			font-size: 18px;
		}
		& p{
			font-size: 13px;
		}
	}
	& .service-box__sub{
		grid-area:"text";
	}
}
.aboutus{
	margin-bottom: 200px;
	& .aboutus-text{
			background-color: #FFC155;
			height: 100%;
		& .aboutus-text__content{
			width: 500px;
			height: 450px;
			padding: 120px 0 0 70px;
			color: #FFFFFF;
			& h2{
				font-size: 30px;
			}
			& p{
				font-size: 13px;
				font-weight: 400;
				margin-bottom: 30px;
			}
			& a{
				color: white;
				font-size: 14px;
				border: 1px solid #E9AF49;
				border-radius: 3px;
				padding: 10px 30px 12px 30px;
			}
		}
	}
	& img{
		width: 100%;
		height: 100%;
		display: block;
	}
}