@import url(fonts.scss);
/*=================================================*/
*{
	padding: 0;
	margin: 0;
}
h1,h2{
	font-family: "Gotham";
	font-weight: 600;
	text-transform: uppercase;
}
h3,h4{
	font-family: "Lato";
	font-weight: 600;
	text-transform: uppercase;
}
h5,h6{
	font-family: "Lato";
	font-weight: 200;
	text-transform: uppercase;
}
p{
	font-family: "OpenSans";
	font-weight: 400;
}
a{
	font-family: "Lato";
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	&:hover{
		text-decoration: none;
	}
}
li{
	list-style: none;
}
/*==================================================*/
header{
	padding: 20px 0;
}
nav{
	margin-top: 16px;
	height:100%;
	& ul{
		justify-content: space-around;
		margin: 0;
		& a{
			text-align: center;
			display: block;
			font-size: 13px;
			color: gray;
			padding: 6px 10px;
			&:hover{
				color: white;
				background-color: #FFBB42;
			}
		 }
		}
}

.boostup{
	background:#709DCA;
	padding-bottom: 45px;
	& .title{
		margin-top: 100px;
		margin-bottom: 25px;
		text-align: center;
		color:white;
		& h1{
			margin-bottom: 0;
			font-size: 36px;
		}
		& p{
			margin-top: -5px;
			font-weight: 200;
		}
	}
	& input[type="submit"]{
		text-transform: uppercase;
		background-color: #FFBB42;
		color: white;
		font-family: "OpenSans";
		font-size: 14px;
		font-weight: 400;
		border:none;
		border-radius: 3px;
		padding: 11px 40px;
	}
}
.form{
		background-color: white;
		padding: 8px 0 10px 0;
		border-radius: 3px;
		color: gray;
		& i{
			padding: 5px 10px 3px 10px;
		}
		& input{
			border: none;
			&:focus{
				outline: none;
			}
		}
	}
.section-slider{
	background-color: #709DCA;
	height: 200px;
	& .carousel{
			& ol{
		position: relative;
		z-index: 2;
		top: 20px;
			& li{
				width: 15px;
				height: 15px;
				border-radius: 50%;
				background-color: transparent;
				border: 2px solid gray;
			}	
				}
	}
}
 ol .active{
	border: 2px solid #86BDF3 !important;
	}
.services{
	margin-top: 230px;
	margin-bottom: 40px;
	& .title-box{
		text-align: center;
		margin-bottom: 60px;
		& p{
			margin-top: -10px;
		}
	}
	& .service-box{
		display: grid;
		grid-template-colums: 1fr 1fr;
		grid-template-areas:
					"icon text";
		margin-bottom: 65px;
		& .icon{
			grid-area: "icon";
			margin-top: -15px;
			margin-right: 21px;
			font-size: 50px;
			color:#709DCA;
			&:hover{
				color: #F7803A;
			}
		}
		& h4{
			font-size: 18px;
		}
		& p{
			font-size: 13px;
		}
	}
	& .service-box__sub{
		grid-area:"text";
	}
}
.aboutus{
	& .aboutus-text{
			background-color: #FFC155;
			height: 100%;
		& .aboutus-text__content{
			width: 500px;
			height: 450px;
			padding: 120px 0 0 70px;
			color: #FFFFFF;
			& h2{
				font-size: 30px;
			}
			& p{
				font-size: 13px;
				font-weight: 400;
				margin-bottom: 30px;
			}
			& a{
				color: white;
				font-size: 14px;
				border: 1px solid #E9AF49;
				border-radius: 3px;
				padding: 10px 30px 12px 30px;
			}
		}
	}
	& img{
		width: 100%;
		height: 100%;
		display: block;
	}
}
.choose-price{
	background-color: #E7EDF3;
	padding-top: 130px;
	padding-bottom: 185px;
	text-align: center;
	& .plan{
		background-color: #FFF;

		& .plan-text{
			padding: 80px 25px 45px 25px;
			margin-top: 30px;
			text-transform: uppercase;
			& h5{
				font-size: 25px;
			}
			& h2{
				font-family: "Lato";
				font-weight: 600;
				font-size: 60px;
				color: #FFBB42;
				& sup{
					font-size:38px;
				}
			}
			& span{
				display: block;
				margin-top: -18px;
				margin-bottom: 20px;
			}
			& p {
				font-size: 13px;
				font-family: "Lato";
				font-weight: 200px;
				margin-bottom: 8px;
				&:before{
					content:"";
					display: block;
					border-top: 1px solid rgba(142,184,226,.3);
					margin-bottom: 10px;
				}
			}
			& a{
				border-radius: 3px;
				background-color: #FFC051;
				padding: 10px 18px;
				color: white;
				margin-top: 18px;
				display: inline-block;
			}
		}
	}
}
.title-box{
	text-align: center;
	margin-bottom: 70px;
	& h2{
		color: #394B50;
		}
	& p{
		font-weight: 200;
		margin-top: -12px;
		}
	}
#text{
	color: white;
	background-color: #709DCA;
	margin-top: 0;
	padding-top: 110px;
	padding-bottom: 75px;
	& h2{
		color: white;
	}
}
.how-works{
	margin-top: 150px;
	& .step-info{
		margin-bottom: 80px;
		text-align: center;
		& i{
			margin: 15px 0 75px 0;
			font-size: 72px;
			color: #709DCA;
		}
		& h5{
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 17px;
		}
		& p{
			font-size: 13px;
			color: gray;
		}
	}
	& a{
		font-size: 14px;
		padding: 12px 20px;
		background-color: #FFBB42;
		border-radius: 3px;
		color: white;
		margin-bottom: 140px;
	}
}
.about-clients{
	background-color: #FFC155;
	padding-bottom: 130px;
	& .clients-title{
		margin-top: 130px;
		margin-bottom: 45px;
		text-align: center;
		color:white;
		& h2{
			font-size: 30px;
		}
		& p{
			margin-top: -15px;
		}
	}
	& .about-info{
		display: flex;
		background-color: white;
		margin-bottom: 20px;
		padding: 30px 10px 50px 30px;
		& img{
			margin-right: 15px;
			display: block;
			width: 100%;
			height: 100%;
		}
		& p{
			font-size: 13px;
			color: gray;
		}
		& .text{
			text-transform: uppercase;
			color: gray;
			& span{
				color: #FFC155;
			}
		}
	}
}
.location{
	margin-top: 150px;
	margin-bottom: 40px;
	& .container:after{
		content:'';
		display: block;
		border-bottom: 1px solid rgba(100,100,100,.3);
		margin-top: 50px;
	}
	& .form{
		border: 2px solid rgba(100,100,100,.3);
		margin-bottom: 40px;
	}
	& input[type="submit"]{
		text-transform: uppercase;
		background-color: #FFBB42;
		color: white;
		font-family: "OpenSans";
		font-size: 14px;
		font-weight: 400;
		border:none;
		border-radius: 3px;
		padding: 11px 40px;
	}
	& .map{
		display: flex;
		justify-content: center;
		background:url('../img/earth.png') no-repeat;
		background-size: contain;
		height: 549px;
		width: 100%;
		& .mark{
			margin-top: 20px;
			min-width: 300px;
			max-height: 300px;
			border-radius: 50%;
			background-color: #394B50;
			color: white;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			& h6{
				font-family: "Lato";
				font-size: 15px;
				font-weight: 600;
			}
			& ul li{
				font-family: "OpenSans";
				font-size: 13px;
				color: gray;
			}
			& ul li:last-child{
				color:#FFBB42;
			}
		}
	}
}
footer{
	& nav a{
		color: black;
		font-size: 14px;
	}
	& .phone{
		display: flex;
		font-size: 22px;
		color: #394B50;
		& h5{
			font-weight: 400;
			font-family: "Lato";
		}
		& i{
			font-size: 20px;
			margin-top: 2px;
			margin-right: 10px;
		}
	}
	& .footer-icons{
		margin-bottom: 40px;
	}
	& .depth{
		text-align: center;
		color: white;
		background-color: #709DCA;
		padding: 4px 0 10px 0;
		& p{
			display: block;
			margin-top: 20px;
		}
	}
}